/*

Rhino Linux - NodeBB Forum custom CSS.

Created by: AJStrong <ajstrongdev@rhinolinux.org>
License: GNU General Public License v3.0
Version: 1.0.0

*/

:root {
  --background-color: #19142d;
  --foreground-color: #f5f5f5;
  --primary-color: #8d7be4;
  --bg-hover: #2a234b;
  --primary-hover: #a698f0;
}

/* Base colours */
body,
html {
  background-color: var(--background-color) !important;
  color: var(--foreground-color) !important;
}

a,
a:visited {
  color: var(--primary-color) !important;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color) !important;
}

/* Sidebar */
#panel,
.sidebar,
.sidebar-left,
.sidebar-right {
  background-color: var(--background-color) !important;
  color: var(--foreground-color) !important;
}

.nav-link:hover,
.navigation-link:hover {
  background-color: var(--bg-hover) !important;
}

.active {
  background-color: var(--bg-hover) !important;
}

.sidebar a {
  color: var(--foreground-color) !important;
  font-weight: bold;
}

.sidebar a:hover {
  color: var(--primary-color) !important;
  background-color: var(--background-color);
  transition: 0.2s ease-in-out;
}

.sidebar i {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--foreground-color) !important;
}

/* Post editor */
.composer,
.composer .write,
.composer .preview,
.composer .formatting-bar,
blockquote,
.codeblock,
pre,
code {
  background-color: var(--bg-hover) !important;
  color: var(--foreground-color) !important;
  border-radius: 0.65em;
}

/* Buttons */
.btn-primary,
.btn-primary .btn-sm {
  background-color: var(--bg-hover) !important;
  color: var(--foreground-color) !important;
  border: none !important;
}

.btn-primary:hover {
  font-weight: bold !important;
  background-color: var(--primary-color) !important;
}

.btn,
.btn-default,
.btn-secondary {
  background-color: var(--bg-hover);
  color: var(--foreground-color) !important;
  border: none !important;
}

.btn:hover,
.btn-default:hover,
.btn-secondary:hover {
  background-color: var(--primary-hover) !important;
  color: #fff !important;
  border: none !important;
}

/* Icons */
i,
.fa,
.icon {
  color: var(--foreground-color) !important;
}

/* Reply */
.form-control,
input,
textarea,
select {
  background-color: var(--bg-hover) !important;
  color: var(--foreground-color) !important;
  border-radius: 0.65em;
}

.form-control:focus {
  box-shadow: 0 0 4px #8d7be4 !important;
}

/* Badges */
.badge-text {
  color: white !important;
}

a.badge {
  color: white !important;
}

/* Cards */
.panel,
.well,
.card {
  background-color: var(--bg-hover) !important;
  color: var(--foreground-color) !important;
  border-radius: 0.65em;
}

/* Alerts */
.alert {
  background-color: var(--bg-hover) !important;
  color: var(--foreground-color) !important;
}

/* Buttons container */
.d-flex.flex-row.text-bg-light.p-2 {
  background-color: var(--background-color) !important;
  border: none !important;
}

/* Breadcrumbs *quack* */
.breadcrumb {
  background-color: var(--background-color) !important;
}

.breadcrumb * {
  color: white !important;
}

.breadcrumb-item span {
  font-size: 1.5em !important;
}

.breadcrumb-item::before {
  font-size: 1.5em !important;
  color: var(--primary-color) !important;
  margin: 0;
  font-weight: bold;
  padding: 0;
}

/* Footer */
.footer {
  color: var(--foreground-color) !important;
}

/* Dropdowns */
.modal-content,
.dropdown-menu {
  background-color: var(--bg-hover) !important;
  color: #f5f5f5 !important;
  border: none;
}

/* Hack: remove skin switcher as custom CSS is not supported */
[component="skinSwitcher"] {
  display: none !important;
}
